//=====================
//基本設定
//=====================

//=================
// reset setting
//=================
@import "base/reset";

//=================
// plugin setting
//=================
// @import "vender/bootstrap-sass/bootstrap";
//=================
// base setting
//=================
@import "base/setting";
@import "mixin/mixins";
@import "base/color";


//=================
//font setting
//=================
@import "base/font_family";
@import "base/font";
@import "base/common";

//mixin

@mixin theme-default($width, $theme:default) {
    @if $theme=='full' {
        width: 100vw;
        height: 100vh;
    }

    @else {
        width: $width;
        margin: 0 auto;
    }
}




//把全域的寫法放在這裡
@include theme_brand($brand) {

    .section {
        @include theme-default(1366px, full);
    }




}