//=====================
//基本設定
//=====================

//=================
// reset setting
//=================
@import "base/reset";

//=================
// base setting
//=================
@import "base/setting";
@import "mixin/mixins";
@import "base/color";

//=================
//font setting
//=================
@import "base/font_family";
@import "base/font";
@import "base/common";



//header__01 page



body {
  height: 1400px;
  #logo {
    margin-top: 10px;
    margin-left: 20px;

  }
  header {
     #nav {
      display: flex;
      flex-direction: wrap;
      li {
        width: 100px;
        height: 20px; 
      } 
     }
  }
}





