//=====================
//基本設定
//=====================
//=================
// reset setting
//=================
@import "base/reset";
//=================
// base setting
//=================
@import "base/setting";
@import "mixin/mixins";
@import "base/color";
//=================
//font setting
//=================
@import "base/font_family";
@import "base/font";
@import "base/common";
//header__01 page
body {
    header {
        padding-top: 20px;
        width: 100%;
        padding-bottom: 20px;
        #logo {
           width: 100px;
            margin-left: 10px;
            float: left;
        }
        ul {
          float: right;

          li {
            display: inline-block;
            width: 8rem;
            height: 20px;
          }
        }
    }
}