//=====================
//基本設定
//=====================

//=================
// reset setting
//=================
@import "base/reset";

//=================
// plugin setting
//=================
// @import "vender/bootstrap-sass/bootstrap";


//=================
// base setting
//=================
@import "base/setting";
@import "mixin/mixins";
@import "base/color";


//=================
//font setting
//=================
@import "base/font_family";
@import "base/font";
@import "base/common";


//=================
// vender setting
//=================

@import "reference/styles";
@import "reference/plugins";

//=================
// libary setting
//=================
// @import "libs/animate-sass/animate";
// @import "libs/hover/scss/hover";
// @import "libs/owl.carousel/src/scss/owl.carousel";
// @import "libs/owl.carousel/src/scss/owl.theme.default";
@import "../../libs/hover/scss/hover";


//=================
// modules 模組 每個專案都會累積不同的
// 要詳細寫說明
//=================
@import "modules/link";



//=================
//pages
//=================

@import "respond/custom";

//桌機
@include grid-media($custom-grid) {
    @import "respond/desktop"; 
    @for $i from 1 through 100 {
        .l#{$i} {
            width: $i * 1%;
            display: inline-block;
        }
    }
}
//平板
@include grid-media($medium-custom-grid) {
    @import "respond/medium";
    @for $i from 1 through 100 {
        .m#{$i} {
            width: $i * 1%;
            display: inline-block;
        }
    }

}
//手機
@include grid-media($small-custom-grid) {
    @import 'respond/small';    
    @for $i from 1 through 100 {
        .s#{$i} {
            width: $i * 1%;
            display: inline-block;
        }
    }
}



//other

@include margin(top,100);
@include margin(left,200);
@include margin(right,100);









