@import "mixin/mixins";
$small: 640px;
@include respond-to(small) {}

//map 使用
$map: ( key: value, key1: 10px, key2: 20px, key3: 30px, key4: 40px, key5: 50px, );
.box {
    margin: map-get($map, key1);
    content: map-has-key($map, key10);
    content: map-keys($map);
}




// @each $huang in (10px, 20px, 30px) {
//     .box {
//         margin: $huang;
//     }
// }


//顏色

@mixin color ($cln, $color){
    .#{$cln}{
     color: $color;
    }
}

// classname / color 
$themecolor: (
  theme-red : red ,
  theme-yellow : yellow,
  theme-purple : #aa0adb, 
  theme-blue: rgb(36, 12, 141),
)!default;

@each $class , $color in $themecolor {
  @include color ($class, $color);
}


.boxs {
  margin: 102px
}








