<header class="navbar navbar-default navbar-static-top">
    <!-- start: NAVBAR HEADER -->
    <div class="navbar-header">
        <button href="#" class="sidebar-mobile-toggler pull-left btn no-radius hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle"
            data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index.html"> <img src="images/OG_logo.png" alt="og logo 東方文華" class="og-logo_big"/> </a>
        <span class="og bold">東方遊戲</span>
        <a class="navbar-brand navbar-brand-collapsed" href="index.html"> <img src="images/OG_logo.png" alt="og logo 東方文華" class="og-logo"/> </a>

        <button class="btn pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse"
            data-toggle-class="menu-open">
            <i class="fa fa-folder closed-icon"></i><i class="fa fa-folder-open open-icon"></i><small><i class="fa fa-caret-down margin-left-5"></i></small>
        </button>
    </div>
    <!-- end: NAVBAR HEADER -->
    <!-- start: NAVBAR COLLAPSE -->
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-left hidden-sm hidden-xs">
            <!-- sidebar button start -->
            <li class="sidebar-toggler-wrapper">
                <div>
                    <button class="btn sidebar-toggler visible-md visible-lg">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </li>
            <!-- sidebar button end -->
            <li>
                <a href="#" class="toggle-fullscreen"> <i class="fa fa-expand expand-off"></i><i class="fa fa-compress expand-on"></i></a>
            </li>
            <!-- <li>
                <form role="search" class="navbar-form main-search">
                    <div class="form-group">
                        <input type="text" placeholder="Enter search text here..." class="form-control">
                        <button class="btn search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </li> 
         -->


        </ul>
        <!-- header right start-->

        <ul class="nav navbar-right">
            <!-- start: user DROPDOWN -->
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"> </i> 个人中心</a>
                <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                    <li>
                        <span class="dropdown-header"> 个人中心</span>
                    </li>
                    <li class="view-all">
                        <a href="#"> See All </a>
                    </li>
                </ul>
            </li>
            <!-- end: user DROPDOWN -->


            <!-- start: ACTIVITIES DROPDOWN -->
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-credit-card-alt"></i> 充值</a>
                <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                    <li class="view-all">
                        <a href="#"> See All </a>
                    </li>
                </ul>
            </li>
            <!-- end: ACTIVITIES DROPDOWN -->
            <!-- start: 提現 DROPDOWN -->
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"> <i class=" ti-money"></i> 提現</a>
                <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                    <li class="view-all">
                        <a href="#"> See All </a>
                    </li>
                </ul>
            </li>
            <!-- end: 提現 DROPDOWN -->
            <!-- start: 投注记录DROPDOWN -->
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-file-text"></i> 投注记录</a>
                <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                    <li class="view-all">
                        <a href="#"> See All </a>
                    </li>
                </ul>
            </li>
            <!-- end: 投注记录 DROPDOWN -->
            <!-- start: 站内信 DROPDOWN -->
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i> 站内信 </a>
                <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
                    <li>
                        <div class="drop-down-wrapper ps-container">
                            <ul>
                                <li class="unread">
                                    <a href="javascript:;" class="unread">
                                        <div class="clearfix">
                                            <div class="thread-image">
                                                <img src="./assets/images/avatar-2.jpg" alt="">
                                            </div>
                                            <div class="thread-content">
                                                <span class="author">Nicole Bell</span>
                                                <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                <span class="time"> Just Now</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="unread">
                                        <div class="clearfix">
                                            <div class="thread-image">
                                                <img src="./assets/images/avatar-3.jpg" alt="">
                                            </div>
                                            <div class="thread-content">
                                                <span class="author">Steven Thompson</span>
                                                <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                <span class="time">8 hrs</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="clearfix">
                                            <div class="thread-image">
                                                <img src="./assets/images/avatar-5.jpg" alt="">
                                            </div>
                                            <div class="thread-content">
                                                <span class="author">Kenneth Ross</span>
                                                <span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
                                                <span class="time">14 hrs</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="view-all">
                        <a href="#"> See All </a>
                    </li>
                </ul>
            </li>
            <!-- end: 站内信 DROPDOWN -->
            <!-- start: LANGUAGE SWITCHER -->
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-sign-out"></i> 登出 </a>
            </li>
            <!-- end: LANGUAGE SWITCHER -->
        </ul>
        <!-- <div class="openview">
                <p>最近開獎</p>
            </div> -->




        <!-- sidebar right start-->
        <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
        <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
            <div class="arrow-left"></div>
            <div class="arrow-right"></div>
        </div>
        <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
    </div>
    <!-- end: NAVBAR COLLAPSE -->

    <button class="sidebar-mobile-toggler dropdown-off-sidebar btn hidden-md hidden-lg" data-toggle-class="app-offsidebar-open"
        data-toggle-target="#app" data-toggle-click-outside="#off-sidebar">
        &nbsp; 
    </button>
    <button class="dropdown-off-sidebar btn hidden-sm hidden-xs" data-toggle-class="app-offsidebar-open" data-toggle-target="#app"
        data-toggle-click-outside="#off-sidebar">
        &nbsp;<!-- 在這裡放文字 -->
    </button>

    <!-- sidebar right end -->

</header>