extends ./temp/template.pug
block  scripts
  +css(['./css/header_01.css'])
block content
  include ./layout/header.pug 
//-   +script(['./js/scripts.js' , './js/output.js'])
  //- +list('box', 1,2,3,4)